body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.next-episode-button {
  background-color: #000;
  color: #fff;
  padding: 20px 50px;
  font-size: 22px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
